<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MNB_Excel_Add_In.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MNB_Excel_Add_In.Properties.Settings.ExcelButtonConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Resources\ExcelButton.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <MNB_Excel_Add_In.Properties.Settings>
            <setting name="MNB_Excel_Add_In_hu_mnb_www_MNBArfolyamServiceSoapImpl"
                serializeAs="String">
                <value>http://www.mnb.hu/arfolyamok.asmx</value>
            </setting>
        </MNB_Excel_Add_In.Properties.Settings>
    </applicationSettings>
</configuration>